<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LX Annotation Interface</title>

    <!-- Favicon and Icons -->
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <title>AGL G-Play Validator</title>

    <!-- Fonts and Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <script type="module" src="{% static 'main.js' %}"></script>


    <!-- Material Dashboard CSS -->
    <link id="pagestyle" href="/assets/css/material-dashboard.css" rel="stylesheet" />

    <!-- Django-Vite Integration -->
    {% load django_vite %}
    {% vite_hmr_client %}
    {% vite_asset 'main' %}
    {% load static %}

  </head>

  <body>
    <div id="app"></div>
    <script type="module" src="/static/main.js"></script>


    <!-- Core JS Files -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>

    <!-- Control Center for Material Dashboard -->
    <script src="/assets/js/material-dashboard.min.js?v=3.1.0"></script>

  </body>
</html>
