[flake8]
# Increase line length limit (default is 79)
max-line-length = 90

extend-ignore = E203, E501

# Files and directories to exclude from linting
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    migrations

# Ignore specific errors in designated files
per-file-ignores =
    __init__.py: F401