[submodule "lib/lx-anonymizer"]
	path = lib/lx-anonymizer
	url = https://github.com/wg-lux/lx-anonymizer.git
	branch = main
[submodule "lib/endoreg-db"]
	path = lib/endoreg-db
	url = https://github.com/wg-lux/endoreg-db.git
	branch = prototype
